
.luxury-gradient {
  background: linear-gradient(90deg, #fff 0%, #f0e6d6 100%);
}

.gold-border {
  border-color: #7A593E;
}

.golden-divider {
  height: 1px;
  background: linear-gradient(90deg, transparent, #7A593E, transparent);
  width: 90%;
  margin: 2rem auto;
}

/* Mejoramos el efecto de sombra en el texto para mejor visibilidad */
.shadow-text {
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
  font-weight: 700;
}

